**/bin/**
**/obj/**
**.mono/registry/CurrentUser/**
**/.dtbcache.v2**
**.vsidx
**.suo
**/.vs/**
**.env**
/src/src BackUp/04 Aspire Ollama/Products/Database.db-shm
/src/src BackUp/04 Aspire Ollama/Products/Database.db-shm
/src/src BackUp/04 Aspire Ollama/Products/Database.db-shm
